# Dependencies
node_modules
pnpm-lock.yaml

# Build output
.next
out
build
dist

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Misc
.DS_Store
*.log
coverage
.turbo

# Next.js
next-env.d.ts
