:root {
  /* Colors */
  --color-background: #ffffff;
  --color-primary: #f48972;
  --color-secondary: #3898d4;
  --color-secondary-dark: #34739d;
  --color-text: #464d48;
  --color-text-contrast: #ffffff;
  --color-text-gray: #bbbfc3;
  --color-gray-light: #dbdcde;
  --color-gray: #464d48;
  --color-message-primary: #fdf6c3;
  --color-message-secondary: #ffffff;

  /* Typography */
  --font-family-base:
    var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height-tight: 1;
  --line-height-regular: 1.3;
  --line-height-relaxed: 1.7;
  --font-size-text-s: 12px;
  --font-size-text-m: 14px;
  --font-size-text-l: 16px;
  --font-size-title-s: 18px;
  --font-size-title-m: 24px;
  --font-size-title-l: 32px;
  --font-size-title-xl: 48px;
  --font-size-title-xxl: 60px;

  /* Radius */
  --radius-s: 4px;
  --radius-m: 16px;
  --radius-round: 100%;

  /* Spacing */
  --space-4xs: 2px;
  --space-3xs: 4px;
  --space-2xs: 8px;
  --space-xs: 12px;
  --space-s: 16px;
  --space-m: 20px;
  --space-l: 24px;
  --space-xl: 30px;
  --space-2xl: 40px;
  --space-3xl: 48px;
  --space-4xl: 60px;

  /* Container */
  --content-width: 980px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
