.main {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--space-l);
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    padding: 0;
  }
}

.backgroundFixed {
  height: 100dvh;
  width: 100%;
  background-color: var(--background);
  background-image: url("/doodle-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
